h1{
    color:navy;
    text-align: left;
}
.block{
    width: 100%;
    height: 5%;
    background-color: navy;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sidenav{
  position: absolute;
  left: 0;
  width: 113px;
  margin-top: -20px;
  background-color: navy;
  height: 100%;
}
.content{
  margin-left: 113px;
}

nav{
  background-color: navy
}
.navbar-default{
  border-color: navy
}
.navbar{
  border-radius:  0px
}