<header>
	<div class="container">
		<h1><a href="">My<span>Angular</span></a></h1>
	</div>
</header>
<nav class="navbar navbar-default" role="navigation" style="z-index: 1">
	<div class="container">
		<div class="navbar-header">
			<div class="navbar-brand" id="headerbrand"></div>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mycol">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
		</div>
		<div class="collapse navbar-collapse" id="mycol">
			<ul class="nav navbar-nav" id="mycol">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Page 1</a></li>
				<li><a href="#">Page 2</a></li>
				<li><a href="#">Page 3</a></li>
			</ul>
			<form class="navbar-form navbar-right" role="login" action="<?php echo base_url() . 'main/valid'; ?>" method="post">
				<div class="form-group">

				</div>
			</form>
		</div>
	</div>
</nav>
<aside class="main-sidebar">
	<section class="sidenav">
		<a [routerLink]="['./about']">
			<h5>About</h5>
		</a>
		<a [routerLink]="['./education']" >
			<h5>Education</h5>
		</a>
		<a routerLink="" >
			<h5>Skill</h5>
		</a>
		<a routerLink="" >
			<h5>Contact</h5>
		</a>
		
	</section>
</aside>
<div class="content"><router-outlet></router-outlet></div>